.input-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.9375rem;
}

.input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
