.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 25rem;
  position: relative;
}

.close-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.input-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0.9375rem;
}

.input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.5rem;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background: #3498db;
  color: #fff;
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button:hover {
  background: #2980b9;
}

.cancel-button {
  background: rgb(214, 62, 62);
  color: #fff;
  border: none;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.25rem;
  margin-right: 0.625rem;

  cursor: pointer;

  &:hover {
    background: rgb(221, 95, 95);
  }
}

.input::-webkit-scrollbar {
  width: 12.8px;
}

.input::-webkit-scrollbar-track {
  background: #bde7ff;
  border-radius: 16px;
}

.input::-webkit-scrollbar-thumb {
  background-color: #3a1ddf;
  border-radius: 16px;
  border: 2px solid #bde7ff;
}

.input {
  scrollbar-width: thin;
  scrollbar-color: #3a1ddf #bde7ff;
}
