.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.75rem;
  padding: 1.25rem;
  border-radius: 0rem;
  box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;

  .name-actions-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.7rem;

    .name {
      font-size: 1.5rem;
      color: #333;
      margin: 0;
    }

    .edit-icon {
      cursor: pointer;
      color: #06991f;
    }
  }

  .date {
    font-size: 0.8rem;
    color: #333;
  }

  .image {
    width: 7rem;
    height: 6rem;
    border-radius: 1rem;
    object-fit: cover;
    margin: 0.2rem 0rem;
    border: 0.125rem solid #3a1ddf;
  }

  .website {
    color: #3a1ddf;
    margin-top: 0.625rem;
    cursor: pointer;
  }

  .actions {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin: 0.5rem 0rem;
  }

  .details {
    position: absolute;
    box-shadow: 0.0625rem 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ebeaea;
    padding: 0.8rem;
    border-radius: 0rem 0rem 0rem 0rem;
    box-shadow: 0rem 0.125rem 0rem rgba(0, 0, 0, 0.1);
    z-index: 10;
    transition: all 0.3s ease;
  }
}
