.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;

  justify-content: center;
  align-items: center;
  background-color: #bde7ff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0rem 0.4rem 1.25rem rgba(0, 0, 0, 0.1);

  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 0.8rem;
}

.list::-webkit-scrollbar-track {
  background: #bde7ff;
  border-radius: 1rem;
}

.list::-webkit-scrollbar-thumb {
  background-color: #3a1ddf;
  border-radius: 1rem;
  border: 0.125rem solid #bde7ff;
}

.list {
  scrollbar-width: thin;
  scrollbar-color: #3a1ddf #bde7ff;
}
